<div class="index_div">
<h1 class="destination_h1"> Which continent would you like to visit? </h1>
<% @continents.each do |continent| %>
<div class="<%=continent.name%>"> <%= continent.name %>(+) </div>
<% end %>
<!-- <ul>

  <% @destinations.each do |destination| %>
<%=link_to "#{destination.location}", destination_path(destination) %>
  <% end %>
</ul> -->



<%= link_to "Add a new Destination", new_destination_path %>
</div>
