<ul>
<% @destinations.each do |destination| %>
<li><%= link_to destination.location, activities_path %></li>
<% end %>
</ul>
<%= link_to "Add a new Destination", new_continent_destination_path(@continent) %>
