<!DOCTYPE html>
<html>
  <head>
    <title>Locus</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<img id="logo" src="http://previews.123rf.com/images/vladiislav/vladiislav1510/vladiislav151000042/47170995-Travel-logo-de-palmeras-en-los-c-rculos-aislados-sobre-un-fondo-blanco--Foto-de-archivo.jpg">
  <body class = "main_body">


    <%= yield %>
  </body>
</html>
